@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}


table {
    border-collapse: collapse;
    width: 500px;
}

td,
th {
    border: 1px solid black;
    padding: 1px;
}

th {
    background-color: gray;
    color: white;
}

th.area {
    color: black;
    background-color: rgb(255, 255, 255);
}

td#aream, 
td#areax {
    background-color: gray;
    color: white;
}

th.medias {
    text-align: left;
}

td.num {
    text-align: center;
}